body {
    margin: 0px;
    height: auto;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(87, 87, 83);
}

#game {
    width: 640px;
    height: 480px;
    position: relative;
}

#game canvas {
    display: block;
    position: absolute;
    top: 120px;
    left: 0px;
}